@tailwind base;
@tailwind components;
@tailwind utilities;

/* @layer base{
  @font-face{
    font-family:"jameel-noori-nastaleeq";
    src:url("../fonts/jameel-noori-nastaleeq.ttf") format("woff"),
    url("../fonts/jameel-noori-nastaleeq.ttf") format("opentype"),
    url("../fonts/jameel-noori-nastaleeq.ttf") format("truetype");
  }
} */

[x-cloak] {
  display: none !important;
}

@media (min-width: 1024px){

  /* Hide scrollbar for Chrome, Safari and Opera */
  ::-webkit-scrollbar-track {
    background-color: transparent;
  }
  ::-webkit-scrollbar-track:hover{
    @apply bg-gray-300;
  }
  ::-webkit-scrollbar-thumb {
    @apply rounded-full bg-violet-400;
  }
  ::-webkit-scrollbar-thumb:hover {
    @apply bg-violet-700;
  }
  ::-webkit-scrollbar {
    width: 4px;
    height: 4px;
  }

}
/* ::-webkit-scrollbar:hover{
  width: 4px;
} */
/* .scrollbar-hide {
	scrollbar-width: auto;
} */
/*.scrollbar-hide::-webkit-scrollbar {
   display: none; 
} */
/* Hide scrollbar for IE, Edge and Firefox */
/*.scrollbar-hide {*/
/* -ms-overflow-style: none;   */
/* IE and Edge */
/* scrollbar-width: none;   */
/* Firefox */
/*}*/

.city-name::before {
  content: "";
  height: 50%;
  background: linear-gradient(0deg, #000000 0%, rgba(0, 0, 0, 0) 50.17%);
  z-index: 0;
  @apply absolute bottom-0 w-full rounded-lg md:rounded-xl;
}
.swiper-button-disabled {
  opacity: .35;
  cursor: auto;
  pointer-events: none;
}
.swiper-pagination-bullet {
  width: var(--swiper-pagination-bullet-width,var(--swiper-pagination-bullet-size,16px)) !important;
  height: var(--swiper-pagination-bullet-height,var(--swiper-pagination-bullet-size,16px)) !important;
}
.swiper-horizontal>.swiper-pagination-bullets .swiper-pagination-bullet, .swiper-pagination-horizontal.swiper-pagination-bullets .swiper-pagination-bullet {
  margin: 0 var(--swiper-pagination-bullet-horizontal-gap,6px) !important; 
}

/* <link rel="stylesheet" href="https://unpkg.com/tippy.js@6/dist/tippy.css" /> */
.tippy-box[data-animation=fade][data-state=hidden]{opacity:0}[data-tippy-root]{max-width:calc(100vw - 10px)}.tippy-box{position:relative;background-color:#333;color:#fff;border-radius:4px;font-size:14px;line-height:1.4;white-space:normal;outline:0;transition-property:transform,visibility,opacity}.tippy-box[data-placement^=top]>.tippy-arrow{bottom:0}.tippy-box[data-placement^=top]>.tippy-arrow:before{bottom:-7px;left:0;border-width:8px 8px 0;border-top-color:initial;transform-origin:center top}.tippy-box[data-placement^=bottom]>.tippy-arrow{top:0}.tippy-box[data-placement^=bottom]>.tippy-arrow:before{top:-7px;left:0;border-width:0 8px 8px;border-bottom-color:initial;transform-origin:center bottom}.tippy-box[data-placement^=left]>.tippy-arrow{right:0}.tippy-box[data-placement^=left]>.tippy-arrow:before{border-width:8px 0 8px 8px;border-left-color:initial;right:-7px;transform-origin:center left}.tippy-box[data-placement^=right]>.tippy-arrow{left:0}.tippy-box[data-placement^=right]>.tippy-arrow:before{left:-7px;border-width:8px 8px 8px 0;border-right-color:initial;transform-origin:center right}.tippy-box[data-inertia][data-state=visible]{transition-timing-function:cubic-bezier(.54,1.5,.38,1.11)}.tippy-arrow{width:16px;height:16px;color:#333}.tippy-arrow:before{content:"";position:absolute;border-color:transparent;border-style:solid}.tippy-content{position:relative;padding:5px 9px;z-index:1}


/* Latest wooqlaw Videos Modal */
/* responsive iframe with aspect ratio css property */
iframe {
  max-width: 100%;
  height: auto;
  aspect-ratio: 16/9;
}